registry=https://artifacts.cahcommtech.com/repository/npm/
always-auth=true
save-exact=true
@cahcommercial:registry=https://npm.pkg.github.com/cahcommercial
//npm.pkg.github.com/:_authToken=c1dcef969b41b1148855986ba8bd2388c5c0f729
//artifacts.cahcommtech.com/repository/npm/:username=commtech
//artifacts.cahcommtech.com/repository/npm/:_password="Q29tbXRlY0g="
save-prefix=
strict-ssl=false